/* navsstyles */
.bd{
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    margin-left: 100px;
}
.btn1{
    box-sizing: border-box;
    border: 1px solid rgb(0, 106,80);
    border-radius: 3px;
    width: 8%;
    text-align: center;
    margin-right: 10px;
    margin: 20px;
    text-decoration: aqua;
}
.title1{
    color: rgb(14, 14, 14);
font-size: larger;
font-weight: 497;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
margin: left 50px;;
font-size: 32px;
}
/* main style */
.bd1{
    display: flex;
    margin-top: 20px;
    background-color: rgb(198,228,214);
    justify-content: space-between;
    border-radius: 17px;
    margin-left: 115px;
    margin-right: 115px;
    width: 1000px;
    height: 400px;
    padding: 71px 56px;
    gap: 45px;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}
/* .banner{ */
    justify-content: center;
    align-items: center;

.title2{
    color: rgba(14, 14, 14, 0.5);
font-family: Fira Sans;
font-size: 17px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
}

.btn2{
    border-radius: 8px;
background: rgb(0, 106, 80);
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
}
.title3{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 800;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
margin-left: 114px;
margin-top: 57px;
/* align-items: center; */
/* text-align: center; */
}
.card1{
    display: flex;
    margin-left: 113px;
    margin-right: 113px;
    column-gap: 22px;
    justify-content: center;
    align-items: center;
}
.isie{
    /* box-sizing: border-box; */
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 12px;

background: rgb(255, 255, 255);
text-align: left;
max-width: 215px;
height: 174px;

}
.title4{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 15px;
font-weight: 700;
line-height: 17px;
letter-spacing: 0%;
text-align: left;
padding-left: 10px;
/* text-align: center; */
}
.narate1{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 12px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0%;
text-align: left;
padding-left: 10px;
padding-right: 10px;
}
.style1{
    padding-left: 10px;
    padding-top: 20px;
}
/* bd3 style */
.title5{color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 114px;
    margin-top: 57px;
    /* justify-content: center; */
    /* text-align: center; */

}
.narate2{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 15px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0%;
text-align: left;
padding-left: 10px;
padding-right: 10px;
margin-left: 108px;
/* margin-right: 113px; */
/* margin-top: 18px; */
/* justify-content: center; */
/* align-items: center; */
/* text-align: center; */
}
/* vision of future style */
.card2{
    display: flex;
    margin-left: 113px;
    margin-right: 113px;
    column-gap: 22px;
    justify-content: center;
    align-items: center;
}
.title6{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 15px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
    padding-left: 10px;
}
.narate3{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}
.dmg{
    border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 20px;

background: rgb(255, 255, 255);
text-align: left;
max-width: 270px;
height: 230px;

}
.btn3{
    border-radius: 6px;
    /* margin: 17px 0px; */
    /* gap: 34px; */
    /* padding: 8px 14px 8px 14px; */
    padding-left: 10px;
  
}
.learn1{
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 12px;
font-weight: 426;
line-height: 14px;
letter-spacing: 0%;
text-align: left;
width: 87;
height: 29;
}
/* recent news style */
.title7{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 114px;
    margin-top: 57px;
}
.narate4{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 110px;
}
.bd5{
    display: flex;
    margin-left: 113px;
    margin-right: 113px;
    justify-content: space-between;
}
.satelite{
    border-radius: 17px;
    background: url(image);
}
.satelite2{
    margin-left: 23px;
}